<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Contribution</title>
  </head>
  <body>
    <header>
      <h1><a href="../index.html">Prof. Pallavi M. Tekade</a></h1>
      <hr />
    </header>

    <section>
      <div class="seminar-info">
        <h1>Department Roles and Responsibilities</h1>
        <p>Academic / Administrative Contributions at Department Level</p>
        <ul>
          <li>GFM meeting and mentoring coordinator</li>
          <li>Website Coordinator- Department & College</li>
          <li>National conference organized</li>
          <li>Worked as Main GFM for 6 Semester</li>
          <li>Student Activity Coordinator</li>
          <li>Workshop/Seminar conducted</li>
          <li>Worked as Event Chairman In Gandharv</li>
          <li>Worked in registration committee in Innovision</li>
          <li>Stationary Coordinator</li>
          <li>Fees Coordinator</li>
          <li>Model Making Competition Coordinator.</li>
          <li>
            Criteria 4.4.5 Publications and awards in inter institute Events by
            students of the program of study
          </li>
          <li>Student portfolio Coordinator</li>
          <li>Criteria 1 Coordinator</li>
        </ul>
      </div>
    </section>
  </body>
</html>
