<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Certificates</title>
  </head>
  <body>
    <header>
      <h1><a href="../index.html">Prof. Pallavi M. Tekade</a></h1>
      <hr />
    </header>
    <section>
      <div class="certificate-main">
        <div class="certificate-img">
          <img src="../Images/pic1.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic2.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic3.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic4.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic5.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic6.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic7.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic8.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic9.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic10.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic11.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic12.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic13.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic14.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic15.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic16.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic17.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic18.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic19.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic20.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic21.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic22.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic23.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic24.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic25.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic26.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic27.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic28.png" alt="pic1" />
        </div>

        <div class="certificate-img">
          <img src="../Images/pic29.png" alt="pic1" />
        </div>
      </div>
    </section>
  </body>
</html>
