<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Research</title>
  </head>
  <body>
    <header>
      <h1><a href="../index.html">Prof. Pallavi M. Tekade</a></h1>
      <hr />
    </header>

    <section>
      <div class="seminar-info">
        <h1>Research Work (Publications)</h1>
        <p>INTERNATIONAL JOURNAL</p>
        <ul>
          <li>
            ” Alert Generation system For Avoiding driver Drowsiness”, paper
            published in Global journal of computer application and technology
            ,VOL-2,ISSUE-1,2012. ISSN: 2249-1945
          </li>
          <li>
            “Investigation and New Method of No intrusive Detection of Driver
            Drowsiness” paperpublished in International Journal of Engineering
            and Innovative Technology (IJEIT) Volume 1, Issue 5, May 2012, ISSN:
            2277-3754
          </li>
          <li>
            “Investigation And New Method Of Nonintrusive Detection Of Driver
            Drowsiness Using Alert Generation” paper published in International
            Journal of Recent Trends in Engineering and Sciences , Vol 2,
            Issue3, ISSN 2277-3258,(77-83)
          </li>
          <li>
            “A Secure Revocable Ring Signature based Auction System for
            E-commerce application” paper published in International Journal of
            Emerging Technology and Advanced Engineering Volume 5, Issue 3,March
            2015
          </li>
          <li>
            “OR Code Implementation in Car Parking Locator” paper published in
            International Journal of Innovative Research in Computer and
            Communication Engineering,Vol 5,Issue 3,March 2017. ISSN(Online):
            2320-9801 ISSN (Print): 2320-9798
          </li>
          <li>
            “Implementation of Two Level QR Code(2LQR)” paper published in
            International Journal of Innovative Research in Computer and
            Communication Engineering ,Vol 6, Issue 4, April 2017. ISSN (Online)
            2278-1021 ISSN (Print) 2319 5940
          </li>
          <li>
            “Real Time Vehicular Tracing System using RASPBERRY PI” paper
            published in International Journal of Innovative Science and
            Research Technology , Volume 3, Issue 1, January – 2018, ISSN
            No:-2456 –2165
          </li>
          <li>
            “Real Time Detection of Emergency Events and Monitoring Structural
            Health of Roads using Crowdsourcing” paper published in
            International Journal for Science and Advance Research In Technology
            - Volume 5 Issue 2 –FEBRUARY 2019, ISSN : 2395-1052
          </li>
          <li>
            “Cricket Match Outcome Prediction Using Machine Learning” paper
            published in International Journal Of Advance Scientific Research
            And Engineering Trends Volume 5 || Issue 7 || July 2020 || ISSN
            (Online) 2456-0774
          </li>
          <li>
            “Hematologic Disease Detection Using Deep Learning” paper published
            in International Journal of Innovative Research in Computer and
            Communication Engineering Volume 9, Issue 6, June 2021, e-ISSN:
            2320-9801, p-ISSN: 2320-9798
          </li>
          <li>
            “IoT based Automated Elevator System - using QR Code Functionality”
            paper published in International Journal for Research in Applied
            Science & Engineering Technology (IJRASET) Volume 9 Issue VI Jun
            2021, ISSN: 2321-9653; IC Value: 45.98.
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
