<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Seminar attended</title>
  </head>
  <body>
    <header>
      <h1><a href="../index.html">Prof. Pallavi M. Tekade</a></h1>
      <hr />
    </header>

    <section>
      <div class="seminar-info">
        <h1>Seminar/Workshops attended</h1>
        <p>20+ workshop attended</p>
        <ul>
          <li>
            Three days workshop on “Faculty Development Program On Ethical
            Hacking & Information Security”, at Dnyanganga College Of engg &
            research,Narhe,Pune.
          </li>
          <li>
            One day workshop on “Current trends in Information and Cyber
            Security” at D.Y.Patil’s College of Engg & technology,Pimri,Punes
          </li>
          <li>
            One day Faculty Development Program On “Discussion on conduction of
            software Laboratory-1 for TEIT course ”at MIT academy of
            engineering,Alandi.
          </li>
          <li>
            Two weeks FDP on “Outcome based education” at JSPM’s BSIOTR,Wagholi
            in Dec 2014.
          </li>
          <li>
            One day Faculty Development Program On “DELD/CO Subject ”at JSPM’s
            RSCOE,Tathawade,Pune.
          </li>
          <li>
            One day Faculty Development Program On “Database Management System
            Subject ”at JSPM’s RSCOE,Tathawade,Pune.
          </li>
          <li>
            Two Week Faculty Development Program On “Teaching Methodology in
            Information Technology ”at JSPM’s RSCOE,Tathawade,Pune in June 2013.
          </li>
          <li>
            Two Week Faculty Development Program On “Teaching Methodology in
            Information Technology ”at JSPM’s RSCOE,Tathawade,Pune in Dec 2013.
          </li>
          <li>Two days FDP on “Agile Methodologies” at VIIT COE,Pune.</li>
          <li>
            One Week Faculty Development Program On “Teaching Methodology in
            Information Technology ”at JSPM’s RSCOE,Tathawade,Pune in June 2015.
          </li>
          <li>
            One Week Faculty Development Program On “Development Of Laboratory
            Manual ”at JSPM’s RSCOE,Tathawade,Pune in June 2015.
          </li>
          <li>
            Two days workshop on “Implementation of Elecyive –III,Software Lab-V
            & Software Lab-VI of BEIT :2012 Course” at STES’s Sinhgad College Of
            Engineering,Pune.
          </li>
          <li>
            Two days workshop on “ IoT-Internet Of Things ” at JSPM’s
            RSCOE,Tathawade,Pune in Sep 2016.
          </li>
          <li>
            One Week Faculty Development Program On “Java Programming ”at SKN
            SIT,Lonavala ,in August 2016.
          </li>
          <li>
            One week Short Term Training Program (STTP)on Intelligent Soft
            Computing Techniques organized by JSPM Narhe Technical
            Campus,Pune,in Dec,2018.
          </li>
          <li>
            Two Days FDP on IOT & Machine Learning Organised by ISB &M School of
            Technology,Pune ,in Dec,2018.
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
